.single-welcome-area .wlc-author-1 img {
  height: 100%;
  object-fit: contain;
}
.header-banner-area {
  background: #2e3d44;
  position: relative;
  z-index: 2;
}
.contact-form {
  text-align: center;
}
#root
  > div
  > div.contact-page-area.inner-bg-shpes
  > div
  > div:nth-child(3)
  > div:nth-child(2)
  > div.contact-form
  > img {
  width: 32%;
}
#root
  > div
  > div.contact-page-area.inner-bg-shpes
  > div
  > div:nth-child(3)
  > div:nth-child(2)
  > div.contact-form
  > h3 {
  color: #cddc39;
}
.header-banner-area .owl-nav {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -15px;
  background: #2e3d44;
}
.header-banner-area .owl-nav > div {
  height: 20px;
  width: 30px;
  text-align: center;
  line-height: 20px;
  display: inline-block;
  color: #fff;
  margin: 0 2px;
}
.header-banner-area .owl-nav > div:hover {
  color: #cddc39;
}
.header-banner-area .owl-nav > div i {
  font-size: 12px;
}
.header-banner-area .owl-nav > div:first-child {
  border-right: 1px solid #657a84;
  padding-right: 4px;
}
.header-area {
  border-bottom: 1px solid #15181a;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 99;
  -webkit--webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header-area.header-main {
  top: 6px;
  -webkit--webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header-area.sticky {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background: #08090a;
  transition: all 1s;
}
.banner-comments {
  position: relative;
  z-index: 2;
  padding: 10px;
  padding-left: 50px;
}
.banner-icon {
  position: absolute;
  left: 0;
  background: #cddc39;
  padding: 10px 12px;
  top: 0;
  color: #fff;
}
.banner-social-wrap div {
  display: inline-block;
}
.banner-social li {
  display: inline-block;
}
.banner-social li a {
  color: #fff;
  font-size: 13px;
  height: 100%;
  display: block;
  padding: 10px;
}
.banner-social li a:hover {
  color: #cddc39;
}
.banner-social li {
  border-left: 1px solid #435157;
}
a.contact-btn {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  background: #cddc39;
  padding: 10px 25px 10px 40px;
  transition: all 0.3s;
  position: relative;
  z-index: 2;
}
a.contact-btn i {
  transition: all 0.3s;
  position: absolute;
  left: 7px;
  top: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  margin-top: -15px;
}
a.contact-btn:hover i {
  left: 10px;
  transition: all 0.3s infinite alternate;
}
a.contact-btn:hover {
  color: #fff;
}
.banner-single-carousel p {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}
.header-area {
  border-bottom: 1px solid #15181a;
}
.search-area div {
  display: inline-block;
}
.search-box {
  position: relative;
  z-index: 2;
}
.search-btn {
  position: absolute;
  left: -30px;
  top: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  margin-top: -15px;
}
.search-btn i {
  color: #cddc39;
}
.search-box input {
  background: 0 0;
  border: none;
  color: #c8c6c6;
  position: relative;
  z-index: 2;
}
.search-box input::placeholder {
  color: #c8c6c6;
  font-size: 18px;
  font-weight: 300;
}
.search-box input:focus::placeholder {
  color: #222;
}
.slide-widgest-wrap {
  position: fixed;
  background: 0 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
  top: 0;
  right: -100%;
  transition: all 0.5s;
}
.slide-widgest-wrap.active {
  right: 0;
  transition: all 0.5s;
}
.grid-menu:hover {
  cursor: pointer;
}
.slide-widgest-wrap:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #000;
  left: 0;
  opacity: 0.7;
  top: 0;
  z-index: -1;
}
.side-widgest {
  position: absolute;
  width: 30%;
  right: -100%;
  top: 0;
  height: 100%;
  padding: 80px 40px 40px 40px;
  background: #000;
  transition: all 1s;
}
.side-widgest:hover {
  cursor: pointer;
}
.side-widgest.active {
  right: 0;
  transition: all 1s;
}
.side-content p {
  font-weight: 400;
  color: #fff;
}
.side-content {
  margin: 40px 0;
}
.side-social li {
  display: inline-block;
}
.side-social li a {
  color: #fff;
  font-size: 18px;
  width: 40px;
  text-align: center;
  border: 1px solid;
  display: block;
  height: 40px;
  line-height: 40px;
  margin-right: 6px;
  border-radius: 4px;
  transition: all 0.3s;
}
.side-close {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 20px;
  color: #fff;
  border: 1px solid #fff;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  transition: all 0.3s;
}
.side-close:hover,
.side-social li a:hover {
  background: #cddc39;
  border-color: #cddc39;
  transition: all 0.3s;
}
#header > div.container > div > div.col-6.col-lg-3.align-self-center > a > img,
#side-content > div.logo > a > img {
  width: 87%;
}
.welcome-area-wrap {
  position: relative;
  z-index: 2;
}
.welcome__wrap1 {
  background: url(../img/wlc-bg1.jpg);
  background-size: cover;
  background-position: center;
}
.single-welcome-area {
  position: relative;
  z-index: 2;
  height: 800px;
  display: flex;
  align-items: center;
}
.wlc-title h1 {
  text-transform: uppercase;
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 25px;
}
.wlc-title h1 span {
  color: #cddc39;
}
.wlc-title p {
  font-weight: 400;
  font-size: 18px;
  padding-left: 20px;
  border-left: 3px solid #cddc39;
  line-height: 28px;
  margin: 40px 0;
}
.wlc-author-1 {
  position: absolute;
  right: 5%;
  width: 40%;
  bottom: 0;
  height: 90%;
  z-index: -1;
}
.author-1 img {
  height: 100%;
  width: auto;
}
.welcome-carousel .owl-dots {
  position: absolute;
  counter-reset: wlc-counter;
  bottom: 50%;
  right: 5%;
  margin-bottom: -30px;
}
.welcome-carousel .owl-dots > div {
  height: 30px;
  width: 30px;
  background: 0 0;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  margin: 7px 0;
  border: 1px solid #cddc39;
  transition: all 0.3s;
  overflow: hidden;
}
.welcome-carousel .owl-dots > div:after {
  position: absolute;
  content: "0" counter(wlc-counter);
  counter-increment: wlc-counter;
  height: 100%;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -13px;
  color: #cddc39;
  font-size: 12px;
  transition: all 0.3s;
}
.welcome-carousel .owl-dots > div.active,
.welcome-carousel .owl-dots > div:hover {
  background: #cddc39;
  border-color: #cddc39;
}
.welcome-carousel .owl-dots > div.active:after,
.welcome-carousel .owl-dots > div:hover:after {
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
h1.wlc-filltext {
  color: #e6e6e6;
  position: absolute;
  top: 15%;
  font-size: 200px;
  text-transform: uppercase;
  left: 0;
  letter-spacing: 2px;
  z-index: -1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px #eeff4252;
  -webkit-text-fill-color: transparent;
}
.wlc-author-1 img {
  position: absolute;
  bottom: 0;
}
.about-img-section {
  padding: 240px 0;
}
.about-area1 {
  background-position: center;
  background-size: cover;
}
.about-img-section1 {
  background-image: url(../img/about.webp);
  background-size: cover;
  background-position: center;
}
a.about-video {
  height: 80px;
  width: 80px;
  text-align: center;
  line-height: 80px;
  background: #fff;
  border-radius: 50%;
  color: #cddc39;
  font-size: 40px;
}
.about-shape {
  position: relative;
  z-index: 3;
}
.about-shape:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 130%;
  background: url(../img/about-fondo.png);
  z-index: -1;
  left: -15%;
  background-repeat: no-repeat;
  top: 0;
}
.about-area-primery .about-shape:after {
  background: url(../img/about-fondo.png) no-repeat;
}
.about-shape:before {
  position: absolute;
  content: "";
  height: 300px;
  width: 300px;
  background: url(../img/svg/about-shape.svg) no-repeat;
  background-repeat: no-repeat;
  bottom: -20%;
  left: -15%;
  z-index: -1;
}
.about-area-primery .about-shape:before {
  background: url(../img/about/about-shape2.svg) no-repeat;
}
.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}
.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #cddc39;
  border-radius: 50%;
  -webkit-animation: pulse-border 1.5s ease-out infinite;
  animation: pulse-border 1.5s ease-out infinite;
}
.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #cddc39;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.video-play-button:hover:after {
  background-color: darken(#cddc39, 10%);
}
.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}
.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}
@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
      scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.about-area-primery:after {
  position: absolute;
  content: "";
  height: 400px;
  width: 400px;
  right: 0;
  top: 0;
  background: url(../img/bg/about-bg.svg);
  opacity: 0.1;
}
.about-area-primery {
  position: relative;
  z-index: 2;
  background: #f1f1f1;
}
.skill-box .smalle {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
}
.skill-box h3,
.skill-box h4,
.skill-box h5,
.skill-box h6 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #cddc39;
  margin: 12px 0;
}
.skill-box p {
  font-size: 15px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 400;
  line-height: 1.6;
}
.skill-box {
  padding: 15px;
  background: #0b0d0e;
  box-shadow: 0 65px 64.5px rgba(0, 0, 0, 0.39);
  transform: translateY(0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.primery-skill {
  position: relative;
  z-index: 2;
}
#root
  > div.site.site-black
  > div.footer-area.footer-area1.section-padding
  > div
  > div
  > div
  > div.copyright
  > p {
  color: #fff;
}
.primery-skill:after {
  position: absolute;
  content: "";
  height: 500px;
  width: 500px;
  background: url(../img/bg/skill-bg1.svg);
  bottom: -30%;
  z-index: -1;
  background-position: right;
  background-size: contain;
  left: -11%;
  -webkit-animation: spin infinite ease 9s;
  animation: spin infinite ease 9;
  opacity: 0.2;
}
.primery-skill .skill-box .smalle {
  font-size: 14px;
  text-transform: uppercase;
  color: #2d2e2f;
  font-weight: 500;
  z-index: 2;
}
.primery-skill .skill-box h5 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #0b0d0e;
  margin: 12px 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.skill-area.primery-skill .row:last-child div.skill-box:before {
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  background: #e9f7ef;
  left: 10px;
  top: 20px;
  z-index: -1;
  border-radius: 50%;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.skill-area.primery-skill {
  overflow: hidden;
}
.skill-area.primery-skill .row:last-child div.skill-box:hover:before {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  border-radius: 0;
}
.primery-skill .skill-box:hover h5 {
  color: #cddc39;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.primery-skill .skill-box p {
  font-size: 15px;
  text-transform: capitalize;
  color: #0b0d0e;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 0;
  z-index: 2;
}
.primery-skill .skill-box {
  padding: 30px;
  background: #fff;
  box-shadow: 0 65px 64.5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.primery-skill .skill-box:hover {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.skill-box:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #131617;
}
.skill-box.skill-box2:hover {
  background: #fff;
}
.technical-skills {
  background: 0 0;
  position: relative;
}
.technical-skills .skills-wrapper {
  margin-top: 40px;
}
.border_separatior {
  border-top: 1px solid #f4f4f4;
}
.technical-skills .skill .chart {
  position: relative;
  display: inline-block;
  min-height: 155px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.technical-skills .skill .chart > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 24px;
}
.technical-skills .skill .chart > span span {
  font-size: 48px;
  margin-right: 5px;
}
.technical-skills .skill h5 {
  margin-top: 15px;
  text-transform: uppercase;
  color: #fff;
}
.skill-area.primery-skill.section-padding {
  counter-reset: skill;
}
.skill-area.primery-skill.section-padding .row:last-child div.skill-box {
  position: relative;
  z-index: 2;
}
.skill-area.primery-skill.section-padding .row:last-child div.skill-box:after {
  content: "0" counter(skill);
  counter-increment: skill;
  position: absolute;
  right: 14px;
  bottom: 0;
  font-size: 70px;
  line-height: 80px;
  opacity: 0.2;
  font-family: Oswald, sans-serif;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.skill-area.primery-skill.section-padding
  .row:last-child
  div.skill-box:hover:after {
  color: #0b0d0e;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.single-service {
  text-align: center;
  padding: 50px 40px;
  transition: all 0.3s;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #131617;
}
.circles-wrap {
  position: absolute;
  bottom: -32%;
  left: -5%;
  z-index: -1;
}
span.circle {
  border-radius: 50%;
  position: absolute;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.circles {
  height: 400px;
  width: 400px;
  background: 0 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
span.circle.circle-1 {
  height: 100px;
  width: 100px;
  background: #8d9a23; /* Tono más oscuro */
  z-index: 5;
  display: inline-block;
}

span.circle.circle-2 {
  height: 200px;
  width: 200px;
  background: #a4b12f; /* Un poco más claro */
  z-index: 4;
}

span.circle.circle-3 {
  height: 300px;
  width: 300px;
  background: #bdcc35; /* Sigue aclarando */
  z-index: 3;
}

span.circle.circle-4 {
  height: 400px;
  width: 400px;
  background: #cddc39; /* Color más claro */
  z-index: 2;
}

.single-service.active span.circle,
.single-service:hover span.circle {
  transform: scale(1);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.service-area .circles-wrap {
  position: absolute;
  bottom: -32%;
  left: auto;
  z-index: -1;
  right: -50%;
}
.service-text h4 {
  font-size: 24px;
  text-transform: uppercase;
  color: #cddc39;
  margin-bottom: 30px;
}
.service-text {
  margin: 30px 0 30px 0;
}
.service-area .service-text {
  margin: 30px 0 0 0;
}
.service-text p {
  color: #999;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}
.service-icon {
  width: 90px;
  margin: 0 auto;
}
.single-service.active,
.single-service:hover {
  background: #9ba72d;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.single-service.active .service-text h3,
.single-service.active .service-text h4,
.single-service.active .service-text h5,
.single-service.active .service-text p,
.single-service:hover .service-text h3,
.single-service:hover .service-text h4,
.single-service:hover .service-text h5,
.single-service:hover .service-text p {
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.single-service.active .cbtn.pricing-btn,
.single-service:hover .cbtn.pricing-btn {
  background: #ffbf00;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.single-service.active .cbtn.pricing-btn i,
.single-service:hover .cbtn.pricing-btn i {
  color: #ffbf00;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.single-service.active .separator,
.single-service:hover .separator {
  border-color: #fff;
}
.service-area.service-primery {
  background: #fff;
}
.service-primery .single-service {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
}
.service-primery .single-service.active,
.service-primery .single-service:hover {
  background: #9ba72d;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.service-primery .service-text {
  margin: 40px 0 0 0;
}
.service-primery {
  position: relative;
  z-index: 2;
}
.service-primery:after {
  position: absolute;
  content: "";
  height: 400px;
  width: 400px;
  right: 0;
  top: 0;
  background: url(../img/bg/service-bg.svg);
}
.pricing2 {
  background: #fafafa;
}
.pricing2 .service-text h3,
.pricing2 .service-text h4 {
  color: #32383a;
}
.da-thumbs .item a div {
  transition: all 0.3s ease 0s;
  text-align: center;
  display: block !important;
  right: 0;
  padding: 10px 8px;
  top: 100%;
}
.da-thumbs .item a div p {
  text-align: justify !important;
  padding: 5px 27px;
  line-height: 28px;
  font-weight: 600;
  font-size: 15px !important;
  text-transform: capitalize;
}
.da-thumbs .item a:hover div {
  right: 0 !important;
  top: 0;
}
.da-thumbs {
  list-style: none;
  position: relative;
  padding: 0;
}
.da-thumbs li {
  margin: 10px;
  background: #fff;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 420px;
}
.project-area-primery .da-thumbs .owl-nav {
  position: absolute;
  top: -34%;
  right: 0;
}
.da-thumbs .item a,
.da-thumbs .item a img {
  display: block;
  position: relative;
  height: 100% !important;
  width: 100% !important;
}
.da-thumbs .item a {
  overflow: hidden;
}
.da-thumbs .item a div {
  position: absolute;
  background: #000000d7;
  width: 100%;
  height: 100%;
}
.da-thumbs .item a div.custom-hover-object {
  position: absolute;
  background: #ffbf00;
  width: 100%;
  height: 100%;
}
.da-thumbs .item a div {
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.da-thumbs .item a div.custom-hover-object span {
  color: #fff;
}
.da-thumbs .owl-nav {
  position: absolute;
  top: -33%;
  right: 0;
}
.da-thumbs .owl-nav > div {
  height: 45px;
  width: 45px;
  background: 0 0;
  border: 1px solid #ffbf00;
  text-align: center;
  line-height: 45px;
  border-radius: 4px;
  color: #ffbf00;
  font-size: 16px;
  display: inline-block;
  margin: 0 5px;
  transition: all 0.3s;
}
.da-thumbs .owl-nav > div:focus,
.da-thumbs .owl-nav > div:hover {
  background: #ffbf00;
  border-color: #ffbf00;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.project-area {
  background: url(../img/bg/project-bg.jpg);
  background-size: cover;
  background-position: center;
}
.project-area-primery {
  background: 0 0;
}
.project-area-primery {
  position: relative;
  z-index: 2;
}
.project-area-primery:after {
  position: absolute;
  content: "";
  height: 700px;
  width: 700px;
  left: -10%;
  bottom: 0;
  background: url(../img/bg/portfolio-bg.svg);
  z-index: -1;
  background-position: right;
  background-size: contain;
}
.pricing-area1 {
  background-image: url(../img/bg/about-bg.png);
  background-position: center;
  background-size: cover;
}
.service-text h3 {
  font-size: 36px;
  text-transform: uppercase;
  color: #cddc39;
}
.service-text h5 {
  color: #999;
  text-transform: capitalize;
  font-size: 18px;
}
.separator {
  border-top: 1px solid #999;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.fact i {
  font-size: 48px;
  margin-bottom: 10px;
  color: #cddc39;
}
.fact h2 {
  color: #cddc39;
}
.fact span {
  color: #32383a;
  font-size: 18px;
}
.fun-facts {
  background: #e6fff2;
}
.testimonials .owl-nav {
  position: absolute;
  top: -59%;
  right: -10%;
}
.testimonials .owl-nav > div {
  height: 45px;
  width: 45px;
  background: 0 0;
  border: 1px solid #ffbf00;
  text-align: center;
  line-height: 45px;
  border-radius: 4px;
  color: #ffbf00;
  font-size: 16px;
  display: inline-block;
  margin: 0 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.testimonials .owl-nav > div:focus,
.testimonials .owl-nav > div:hover {
  background: #ffbf00;
  border-color: #ffbf00;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.testimonial-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -50px;
}
.testimonial-img img {
  max-width: 100%;
  max-height: 100%;
  margin-right: 20px;
}
.testimonial {
  position: relative;
  z-index: 2;
  padding-left: 130px;
}
.testimonial-text h4 {
  font-size: 25px;
  text-transform: uppercase;
  line-height: 34px;
  margin: 25px 0;
}
.testimonial-text p {
  font-size: 18px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 400;
  margin: 0;
}
.testimonials-area-primery .testimonial-text h4,
.testimonials-area-primery .testimonial-text p {
  color: #0b0d0e;
}
.testimonials-area1 {
  background: url(../img/testimonials-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blog-area .owl-nav {
  position: absolute;
  top: -27%;
  right: 0;
}
.blog-area .owl-nav > div {
  height: 45px;
  width: 45px;
  background: 0 0;
  border: 1px solid #ffbf00;
  text-align: center;
  line-height: 45px;
  border-radius: 4px;
  color: #ffbf00;
  font-size: 16px;
  display: inline-block;
  margin: 0 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.blog-area .owl-nav > div:focus,
.blog-area .owl-nav > div:hover {
  background: #ffbf00;
  border-color: #ffbf00;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.single-blog-img {
  display: flex;
  align-items: flex-end;
}
span.blog-banner {
  color: #fff;
  background: #131617;
  padding: 10px 25px;
  text-transform: uppercase;
}
.blog-description {
  background: #fff;
  padding: 30px;
  border: 1px solid #f1f1f1;
  position: relative;
  z-index: 2;
}
.single-blog-img img {
  height: 250px;
  width: 100% !important;
}
a.readmore-btn:hover i {
  padding-right: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a.readmore-btn i {
  padding-right: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.blog-description h6 {
  color: #131617;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 0;
}
.blog-description a {
  font-size: 20px;
  text-transform: uppercase;
  color: #131616;
  font-weight: 600;
  margin: 20px 0;
}
.blog-description p {
  color: #131617;
  text-transform: capitalize;
  font-weight: 400;
  margin: 0;
}
.single-blog {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.single-blog:hover .blog-description a {
  background: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.single-blog:hover span.blog-banner {
  background: #ffbf00;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a.readmore-btn {
  color: #cddc39;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
}
.single-blog:hover .blog-description a {
  color: #cddc39;
}
.cta-area1 {
  background-image: url(../img/bg/map.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.heading.cta-heading h2 {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.cta-form input {
  background: #32383a;
  width: 55% !important;
  padding: 14px 15px;
  border: 1px solid #cddc39;
  border-radius: 5px;
  float: left;
  color: #fff;
}
.cta-form .subscribe-btn {
  width: 43%;
  float: right;
}
.subscribe-btn {
  padding: 15px 60px 15px 30px;
  background: #cddc39;
  border-radius: 5px;
  color: #161313;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  text-align: left;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 600;
}
.subscribe-btn:hover,
.subscribe-btn:hover i {
  border-color: #cddc39;
  background: 0 0;
  color: #cddc39;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.subscribe-btn i {
  background: #fff;
  color: #cddc39;
  height: 35px;
  width: 35px;
  text-align: center !important;
  position: absolute;
  right: 13px;
  line-height: 35px;
  border-radius: 3px;
  top: 50%;
  margin-top: -17.5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.cta-form {
  width: 80%;
  margin: 0 auto;
}
.cta-primery {
  position: relative;
  z-index: 2;
  background: #fafafa;
}
img.cta-shape {
  position: absolute;
  z-index: -1;
}
.cta-shap1 {
  top: 20%;
  left: 9%;
}
.cta-shap2 {
  right: 12%;
  top: 10%;
}
.cta-shap4 {
  right: 7%;
  top: 48%;
}
.cta-shap3 {
  top: 40%;
  left: 31%;
}
.cta-shap5 {
  top: 80%;
  left: 6%;
}
.social-area .row > div {
  margin: 0;
  padding: 0;
}
.sinlge-social-hover a {
  display: block;
  padding: 50px 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  transform: scale(1.5);
  opacity: 0;
  visibility: hidden;
}
.sinlge-social-hover {
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}
.sinlge-social-hover:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 0;
  background: #cddc39;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
span.single-social-icon i {
  font-size: 32px;
  margin-bottom: 20px;
}
.sinlge-social-hover:hover a {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  color: #fff;
}
.sinlge-social-hover:hover:after {
  width: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.single-logo-table {
  height: 100px;
  width: 100%;
  text-align: center;
  display: table;
}
.single-logo-table img:hover {
  filter: brightness(1);
  cursor: move;
  opacity: 1;
}
.single-logo-table-cell {
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.single-logo-table img {
  filter: brightness(40);
  opacity: 0.3;
  max-height: 100%;
  max-width: 100%;
}
.footer-menu li a {
  color: #fff;
  text-transform: uppercase;
  padding: 0 9px;
}
.footer-menu li a:hover {
  color: #cddc39;
}
.footer-menu li {
  display: inline-block;
}
.copyright span {
  color: #cddc39;
}
.copyright {
  text-transform: uppercase;
  color: #474747;
  font-size: 12px;
}
.site-black {
  background: #0b0d0e;
}
.heading h2 {
  font-size: 44px;
  line-height: 55px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.heading h2 span {
  color: #cddc39;
}
.heading {
  position: relative;
  z-index: 2;
}
.heading strong.filltext {
  font-size: 80px;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px #cddc393b;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.heading p {
  font-weight: 400;
  margin: 40px 0;
}
.primery-heading small {
  font-weight: 500;
  color: #cddc39 !important;
  font-size: 16px;
  text-transform: uppercase;
}
.primery-heading h2 {
  font-size: 48px;
  line-height: 62px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0;
}
.primery-heading h2 span {
  color: #cddc39;
}
.primery-heading {
  position: relative;
  z-index: 2;
}
.primery-heading strong.filltext {
  font-size: 80px;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  -webkit-text-fill-color: #f1f1f113;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.primery-heading p {
  font-weight: 400;
  font-size: 17px;
  color: #0b0d0e;
}
.heading small {
  font-weight: 500;
  color: #cddc39 !important;
  font-size: 16px;
  text-transform: uppercase;
}
.heading p small {
  color: #cddc39 !important;
  text-transform: none;
}
.primery-info-content {
  padding-left: 30px;
  border-left: 3px solid #cddc39;
  color: #fff;
}
.primery-info-content p {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  color: #cddc39;
  margin-bottom: 0;
}
.info-content {
  padding-left: 30px;
  border-left: 3px solid #cddc39;
  color: #fff;
}
.info-content p {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 0;
}
a.up-btn {
  position: fixed;
  bottom: 15% !important;
  right: 2%;
  background: #212529;
  color: #fff;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  border-radius: 5px;
  border: 1px solid #fff;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
}
a.up-btn:hover {
  color: #fff !important;
  background: #cddc39;
  border-color: #cddc39;
  z-index: 999999999;
}
.header-area.sticky a.up-btn {
  visibility: visible;
  opacity: 1;
  bottom: 5%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.lds-dual-ring {
  display: inline-block;
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preloader {
  background: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
p.single-soicial-text {
  margin: 0 !important;
}
@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.circles {
  margin-bottom: -10px;
}
.circle {
  width: 150px;
  margin: 6px 6px 0;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}
.circle canvas {
  vertical-align: top;
}
.circle strong {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 42px;
  font-size: 48px;
  color: #fff;
  font-family: Oswald, sans-serif;
}
.circle strong i {
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  padding-left: 2px;
}
.circle span {
  display: block;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 58px;
  color: #fff;
  font-family: Oswald;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.install {
  display: inline-block;
}
.install a {
  display: block;
  width: auto;
  vertical-align: middle;
  padding: 6px 12px;
  line-height: 20px;
  background-color: transparent;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  margin: 5px auto;
  transition: all 0.3s;
}
.install code {
  padding: 6px 12px;
  display: block;
  font: 13px/20px Courier New, Liberation Mono, monospase;
  background-color: transparent;
  border-radius: 4px;
  margin: 5px 0;
  white-space: nowrap;
}
.c#b5c235its {
  color: #aaa;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.c#b5c235its img {
  margin-left: 4px;
  border-radius: 4px;
  vertical-align: middle;
}
@media (max-height: 600px), (max-width: 480px) {
  .c#b5c235its {
    position: inherit;
  }
}
p.single-soicial-text {
  margin: 0 !important;
}
.owl-carousel .owl-item img {
  display: inline-block;
  width: auto;
}
a {
  text-decoration: none !important;
  color: #fefefefe !important;
  font-weight: 600 !important;
  word-wrap: break-word;
}
.contact__card ul li {
  word-break: break-word;
}
