a.cbtn {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  padding: 13px 25px;
  background: #ffaa05;
  border-radius: 4px;
}

a.cbtn.cbnt1 {
  background: #ffaa05;
  padding-right: 70px;
  position: relative;
  z-index: 2;
  border: 1px solid transparent;
  color: #191c1f !important;
}

a.cbtn.cbnt1:hover,
a.cbtn:hover {
  color: #ffffff !important;
}
a.cbtn.cbnt1 i {
  position: absolute;
  top: 50%;
  right: 15px;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  background: #191c1f !important;
  color: #ffaa05;
  border-radius: 4px;
  margin-top: -15px;
}

a.cbtn.cbnt1:hover {
  border-color: #ffaa05;
  background: transparent;
  color: #ffffff;
  transition: all 0.3s;
}

a.cbtn.pricing-btn {
  background: #ffaa05;
  padding-right: 70px;
  position: relative;
  z-index: 2;
  color: #191c1f !important ;
  font-weight: 800;
}

a.cbtn.pricing-btn i {
  position: absolute;
  top: 50%;
  right: 15px;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  background: #191c1f !important;
  color: #121517;
  border-radius: 4px;
  margin-top: -15px;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0b0d0e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #ffaa05;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eba720;
}
